header {
  width: 100%;
}

body {
  font-family: 'Baloo 2', sans-serif;
}

.nav-flex-container {
  display: flex;
  flex-direction: row;
  height: 150px;
  padding: 20px;
  align-items: left;
}

#text-logo {
  font-family: 'Baloo 2', sans-serif;
  color: black;
  font-size: large;
  font-weight: 400;
}

.nav-toggle {
  display: none;
}

.nav-flex-container ul {
  margin-left: auto;
  flex-direction: row;
}

.nav-flex-container li {
  margin-bottom: 10px;
}

#image-logo {
  width: 100px;
}

@media (max-width: 800px) {
  .nav-flex-container {
    flex-direction: column;
    background-color: white;
  }
  .nav-items-right {
    display: none;
  }
}




