header {
  width: 100%;
}

body {
  font-family: 'Baloo 2', sans-serif;
}

.nav-flex-container {
  display: flex;
  flex-direction: row;
  height: 150px;
  padding: 20px;
  align-items: left;
  background-color: white;
}

.nav-brand {
  display: flex;
  align-items: center;
  
}

#text-logo {
  font-family: 'Baloo 2', sans-serif;
  color: black;
  font-size: large;
  font-weight: 400;
  padding-left: 20px;
}

.nav-items-toggle {
  display: none;
}

.nav-items {
  display: flex;
  margin-left: auto;
  flex-direction: row;
  font-size: large;
  align-items: center;
  justify-content: space-between;
  
}

nav li {
  padding-right: 10px;
}

#image-logo {
  width: 100px;
}

@media (max-width: 800px) {
  .nav-flex-container, .nav-items {
    flex-direction: column;
  }
  .nav-items {
    display: none;
  }
  .nav-toggle-show {
    display: flex;
  }
  .nav-items-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   } 
}




