:root {
  --clr-grey: #ADADAD;
  --clr-dark: #00ab5e;
  --clr-main: #00e078;
  --clr-secondary: #00ad5f;
}

* {
  font-family: 'Baloo 2';
}

header {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 0 0;
}

header img {
  height: 100px;
  width: 100px;
  margin-left: 10px;
}

#header-logo {
  margin-top: 5px;
  display: flex;
}

h1 {
  font-size: 4rem;
  color: whitesmoke;
  padding-left: 10px;
}

a {
  text-decoration: none;
}

/* Important styles */
#toggle {
  display: block;
  width: 30px;
  height: 25px;
  margin-top: 40px;
  margin-left: 96px;

}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

#toggle span:after {
  top: 9px;
}

#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 4px;
  background-color: var(--clr-main);
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}

#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}

#toggle.on+#menu {
  opacity: 1;
  visibility: visible;

}

/* menu appearance*/
#menu {
  position: relative;
  width: 200px;
  padding: 12px;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  background: var(--clr-dark);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
  font-size: 1.2em;
}

nav ul,
nav li,
nav li a {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav li a {
  padding: 5px 5px;
  color: black;
  text-decoration: none;
  transition: all .2s;
  font-weight: 500;
  border-radius: 15px;
}

nav li a:hover,
nav li a:focus {
  background: var(--clr-main);
  color: rgb(0, 0, 0);
}

footer {
  color: var(--clr-main);
  text-align: center;
  padding: 20px 0 5px 0;
}

#reset-storage-link a {
  padding: 5px 10px;
}

#reset-storage-link a:hover,
#reset-storage-link a:active {
  background-color: black;
  color: whitesmoke;
}


@media screen and (max-width: 600px) {
  body {
    width: 100vw;
  }

  #menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    /* padding: 0 5px; */
  }

  #menu li,
  #menu :active {
    padding: 0 5px;
  }

  header {
    margin-bottom: 50px;
  }

  #menu {
    width: fit-content;
    margin: 10px;
    position: fixed;
    right: 0;
  }

  #toggle {
    margin: 54px 10px 0 0;
  }

  #date {
    font-size: 1.4rem;
  }
}